#####################################################################
# Make sure to start the OpenOCD session with the following command:
# openocd -f nemo_jtag-openocd.cfg -c "init" -c "halt" -c "load_image /home/genoqs/sources/NEMO_OS/nemo.elf_DEBUG_DONT_DEPLOY" -c "resume 0x10040" -c "halt"
# 
# This has proven to work in the Eclipse setup at least
#####################################################################

#####################################################################
# Adapter / Server section
# 
# This part is a copy of the file:
# /usr/share/openocd/scripts/interface/ftdi/olimex-jtag-tiny.cfg
#####################################################################
# Olimex ARM-USB-TINY
# http://www.olimex.com/dev/arm-usb-tiny.html


adapter driver ftdi

###################################################
# TINY Configuration 
# Make sure to pass the right ftdi_devices_desc String, or it will not work

ftdi_device_desc "Olimex OpenOCD JTAG TINY"
ftdi_vid_pid 0x15ba 0x0004

# 20231010 GS: set the speed low, to make sure we stay out of trouble
adapter speed 6000

ftdi_layout_init 0x0808 0x0a1b
# ftdi_layout_signal nSRST -oe 0x0200
# ftdi_layout_signal nTRST -data 0x0100 -oe 0x0100
# ftdi_layout_signal LED -data 0x0800


#####################################################################
# Target section
#
# This part is a copy of the file:
# /usr/share/openocd/scripts/target/samsung_s3c4510.cfg
#####################################################################
if { [info exists CHIPNAME] } {
   set _CHIPNAME $CHIPNAME
} else {
   set _CHIPNAME s3c4510
}

if { [info exists ENDIAN] } {
   set _ENDIAN $ENDIAN
} else {
   set _ENDIAN little
}


# This appears to be a "Version 1" arm7tdmi.
if { [info exists CPUTAPID] } {
   set _CPUTAPID $CPUTAPID
} else {
   set _CPUTAPID 0x1f0f0f0f
}
jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME arm7tdmi -endian $_ENDIAN -chain-position $_TARGETNAME


# Inherited from Eric / Wilson configuration, check the OpenOCD manual for description
arm7_9 fast_memory_access enable
